.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div.card {
  padding: 10px;
  margin: 10px;
  background-color: #DDD;
  border: #AAA;
  border-radius: 9px;
}

div.card a img {
  border-radius: 7px;
}

.card-image-link {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

#myVideo{
  width: 100%;
  height: 100%;
  z-index: -1;
  position:absolute ;
  overflow: hidden;
  object-fit: cover;
}

<<<<<<< HEAD
h1{
  
  font-size: 5em;
  color: rgb(230, 11, 11);
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}


=======
.Counter {
  font-weight: 800;
  font-size: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
>>>>>>> e26961e9f93b4876f37d514be15a4a1985fc2336
